/* 入力欄共通 */

input,
select,
textarea {

    display:block;

    width:100%;

    max-width:100%;

    box-sizing:border-box;

    padding:15px;

    font-size:18px;

    border:1px solid #ccc;

    border-radius:10px;

    background:white;

}



/* 高さ統一 */

input[type="text"],
input[type="number"],
input[type="date"],
select {

    height:60px;

}



/* 日付専用 */

input[type="date"] {

    min-width:0;

    max-width:100%;

    appearance:none;

    -webkit-appearance:none;

}