/* ===========================
   家計簿入力画面
=========================== */


/* 全体 */

body {

    margin:0;

    padding:20px;

    background:#f5f5f5;

    font-family:
    "メイリオ",
    sans-serif;

}



/* ヘッダー */

header {

    width:100%;

}



/* タイトル */

h1 {

    text-align:center;

    font-size:32px;

    margin:25px 0 35px;

}



/* 戻るボタン */

.back-button {

    width:100%;

    height:50px;

    font-size:18px;

    border:none;

    border-radius:10px;

}



/* 入力全体 */

.input-area {

    width:100%;

}



/* 1項目 */

.input-item {

    margin-bottom:35px;

}



/* 項目名 */

label {

    display:block;

    font-size:20px;

    font-weight:bold;

    margin-bottom:12px;

}



/* 入力欄 */

input,
select,
textarea {

    display:block;

    width:100%;

    box-sizing:border-box;

    padding:18px;

    font-size:20px;

    border-radius:12px;

    border:1px solid #ccc;

    background:white;

}



/* 高さ */

input,
select {

    height:65px;

}



/* メモ */

textarea {

    height:170px;

    resize:none;

}



/* 登録ボタン */

.register-button {

    width:100%;

    height:70px;

    margin-top:10px;

    font-size:22px;

    border:none;

    border-radius:12px;

}



/* PC表示 */

@media screen and (min-width:600px){

    body {

        max-width:500px;

        margin:auto;

    }

}