/* ===========================
   家計簿入力画面専用CSS
=========================== */


/* 戻るボタン */

.back-button {

    width: 100%;
    height: 50px;

    font-size: 18px;

}


/* 入力エリア */

.input-area {

    width: 100%;

}


/* 各項目 */

.input-item {

    width: 100%;

    margin-bottom: 30px;

}


/* 項目名 */

label {

    font-size: 18px;

    margin-bottom: 10px;

}


/* 入力欄共通 */

input,
select,
textarea {

    padding: 15px;

    font-size: 18px;

}


/* 入力欄高さ */

input[type="text"],
input[type="number"],
input[type="date"],
select {

    height: 60px;

}


/* 日付 */

input[type="date"] {

    appearance: none;
    -webkit-appearance: none;

}


/* iPhone */

input[type="date"]::-webkit-date-and-time-value {

    text-align: left;

}


/* メモ */

textarea {

    height: 150px;

    resize: none;

}


/* 登録ボタン */

.register-button {

    display: block;

    width: 100%;
    height: 65px;

    margin-top: 20px;

    font-size: 22px;

}


/* スマホ */

@media screen and (max-width:599px) {

    body {

        width: 100%;

        padding: 20px;

    }

}