/* ===========================
   トップ画面専用CSS
=========================== */


/* メニュー */

.menu {

    display: flex;

    flex-direction: column;

    gap: 20px;

}


/* メニューボタン */

.menu button {

    width: 100%;

    height: 65px;

    font-size: 22px;

}